site_name: 'USP NAS documentation'
docs_dir: './docs'                        # Where to find the English markdown files
site_dir: './generated'                      # Where to put the English HTML files
#site_url: 'https://github.com/waf'

theme:
  name: material
  custom_dir: './overrides/'                  # This is where the customization of the theme lives
  logo: assets/images/USP-Logo-2023-ohne-claim-lang-white1.webp                 # The logo is shared by all languages
  favicon: assets/images/favicon.png              # The favicon is shared by all languages
  language: en                                    # The build's language
extra_css:
  - assets/stylesheets/extra.css

extra:
  version:
    provider: mike
    default: latest

plugins:
  - search:
      lang: en                                      # Set language for search
  - swagger-ui-tag:
      supportedSubmitMethods: []
      validatorUrl: none
  - mike:
      deploy_prefix: aero-waap
      canonical_version: latest
      version_selector: true

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
nav:
  - Welcome: 'index.md'
  - Release Notes: 'release-notes.md'
  - NAS Documentation:
    - HTML: 'html-documentation.md'
    - PDF: 'pdf-documentation.md'
